<div class="row" >
  <div class="col-2">
  <a href="/"><img src="img/logoUcm.png" alt="Logo de la UCM" id="logoUcm"></a>
  </div>
  <div class="col-8 textoCentrado">
      <br><h2>UCM - CAU</h2><H3>Centro de atención al usuario</H3>
  </div>
</div>
<div class="row" id="boxContenido">