#bodyy {
    background-color: gainsboro;
}

#logoUcm {
    border: 0;
    width: 4.5em;
}

#imgUser {
    width: 35px;
}

.container {
    margin-top: 3em;
    margin-bottom: 3em;
}

.textoCentrado {
    text-align: center;
}

#boxContenido {
    margin-top: 5em;
    margin-bottom: 2em;
}

#contenido {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
}

.contenidoAvisos {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.colorBlanco {
    background-color: white;
}

.padngFila {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

p {
    width: 700px;
    height: 25px;
    padding: 2px 5px;
    /* BOTH of the following are required for text-overflow */
    white-space: nowrap;
    overflow: hidden;
}

.overflow-visible {
    white-space: initial;
}

.overflow-clip {
    text-overflow: clip;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.overflow-string {
    /* Not supported in most browsers,
       see the 'Browser compatibility' section below */
    text-overflow: " [..]";
}

.tamanio{
font-size: 20px;
}

/*-------------------------------------------popovers*/
[data-title]:hover:after {
    opacity:0.9;
    transition: all 0.5s ease 0.1s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: white;
    color: #222268;
    font-size: 14px;
    position: absolute;
    padding: 3px 20px;
    bottom: -2em;
    right: 50%;
    white-space: nowrap;
    box-shadow: 0px 0px 3px white;
    opacity: 0;
    border: 1px solid white;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[data-title] {
    position: relative;
}
/*--------------------------------------------------------*/

.Cursor{
    cursor:pointer;
}